version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - authorization
      - notification
      - slotbooking
      - slotmgmt

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: athledger
      MYSQL_USER: athledgeruser
      MYSQL_PASSWORD: athledgerpass
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  authorization:
    build: ./backend/authorization
    container_name: authorization
    depends_on:
      - mysql
      - kafka
    ports:
      - "8081:8081"

  notification:
    build: ./backend/notification
    container_name: notification
    depends_on:
      - mysql
      - kafka
    ports:
      - "8082:8082"

  slotbooking:
    build: ./backend/slotbooking
    container_name: slotbooking
    depends_on:
      - mysql
      - kafka
    ports:
      - "8083:8083"

  slotmgmt:
    build: ./backend/slotmgmt
    container_name: slotmgmt
    depends_on:
      - mysql
      - kafka
    ports:
      - "8084:8084"

volumes:
  mysql-data:
